<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- Spring管理Struts2的Action -->
	<bean name="loginAction" class="com.zyl.centre.action.LoginAction"
		scope="prototype">
	</bean>
	<bean name="BusinessRegiste" class="com.zyl.centre.action.BusinessRegiste"
		scope="prototype">
	</bean>
	<bean name="UploadImg" class="com.zyl.centre.action.UploadImg"
		scope="prototype">
	</bean>

	<bean name="shopAction" class="com.zyl.centre.action.ShopAction"
		scope="prototype">
	</bean>

	<bean name="serviceAction" class="com.zyl.centre.action.ServiceAction"
		scope="prototype">
	</bean>

	<bean name="orderAction" class="com.zyl.centre.action.OrderAction"
		scope="prototype">
	</bean>

	<bean name="userAction" class="com.zyl.centre.action.UserAction"
		scope="prototype">
	</bean>

	<bean name="stageLogin" class="com.zyl.centre.stage.action.stageLogin"
		scope="prototype">
	</bean>

	<bean name="statgeUser" class="com.zyl.centre.stage.action.statgeUser"
		scope="prototype">
	</bean>

	<bean name="stageShop" class="com.zyl.centre.stage.action.stageShop"
		scope="prototype">
	</bean>


	<!-- Spring管理Struts2的Interceptor -->
	<bean name="checkLoginInterceptor" class="com.zyl.centre.interceptor.CheckLogin"
		scope="prototype">
	</bean>

	<!-- Spring管理Struts2的Service -->
	<bean name="userservice" class="com.zyl.centre.service.UserService"
		scope="prototype">
	</bean>
	<bean name="shopService" class="com.zyl.centre.service.ShopService"
		scope="prototype">
	</bean>
	<bean name="serviceService" class="com.zyl.centre.service.ServiceService"
		scope="prototype">
	</bean>
	<bean name="productService" class="com.zyl.centre.service.ProductService"
		scope="prototype">
	</bean>
	<bean name="prodtypeService" class="com.zyl.centre.service.ProdtypeService"
		scope="prototype">
	</bean>
	<bean name="orderService" class="com.zyl.centre.service.OrderService"
		scope="prototype">
	</bean>
	<bean name="tokenService" class="com.zyl.centre.service.TokenService"
		scope="prototype">
	</bean>
	<bean name="imgService" class="com.zyl.centre.service.ImgService"
		scope="prototype">
	</bean>
	<bean name="areaService" class="com.zyl.centre.service.AreaService"
		scope="prototype">
	</bean>
	<bean name="serviceordrelService" class="com.zyl.centre.service.ServiceordrelService"
		scope="prototype">
	</bean>
	<bean name="menuService" class="com.zyl.centre.service.MenuService"
		scope="prototype">
	</bean>
	<bean name="districtService" class="com.zyl.centre.service.DistrictService"
		scope="prototype">
	</bean>

	<bean name="imgadverService" class="com.zyl.centre.service.ImgadverService"
		scope="prototype">
	</bean>
	<bean name="activeshopService" class="com.zyl.centre.service.ActiveshopService"
		scope="prototype">
	</bean>
	<bean name="imgactiveService" class="com.zyl.centre.service.ImgactiveService"
		scope="prototype">
	</bean>
	<bean name="reviewService" class="com.zyl.centre.service.ReviewService"
		scope="prototype">
	</bean>
	<bean name="complaintService" class="com.zyl.centre.service.ComplaintService"
		scope="prototype">
	</bean>

	<!-- Spring管理Struts2的Dao -->
	<bean name="usersDao" class="com.zyl.centre.dao.UserDao" scope="prototype" />
	<bean name="areaDao" class="com.zyl.centre.dao.AreaDao" scope="prototype" />
	<bean name="districtDao" class="com.zyl.centre.dao.DistrictDao"
		scope="prototype" />
	<bean name="imgsrcDao" class="com.zyl.centre.dao.ImgsrcDao" scope="prototype" />
	<bean name="orderDao" class="com.zyl.centre.dao.OrderDao" scope="prototype" />
	<bean name="prodtypeDao" class="com.zyl.centre.dao.ProdtypeDao"
		scope="prototype" />
	<bean name="productDao" class="com.zyl.centre.dao.ProductDao"
		scope="prototype" />
	<bean name="serviceDao" class="com.zyl.centre.dao.ServiceDao"
		scope="prototype" />
	<bean name="serviceordrelDao" class="com.zyl.centre.dao.ServiceordrelDao"
		scope="prototype" />
	<bean name="shopDao" class="com.zyl.centre.dao.ShopDao" scope="prototype" />
	<bean name="tokenDao" class="com.zyl.centre.dao.TokenDao" scope="prototype" />
	<bean name="menuDao" class="com.zyl.centre.dao.MenuDao" scope="prototype" />
	<bean name="imgadverDao" class="com.zyl.centre.dao.ImgadverDao"
		scope="prototype" />
	<bean name="activeshopDao" class="com.zyl.centre.dao.ActiveshopDao"
		scope="prototype" />
	<bean name="imgactiveDao" class="com.zyl.centre.dao.ImgactiveDao"
		scope="prototype" />
	<bean name="reviewDao" class="com.zyl.centre.dao.ReviewDao" scope="prototype" />
	<bean name="complaintDao" class="com.zyl.centre.dao.ComplaintDao"
		scope="prototype" />

</beans>
